.input-elegant {
    font-family: 'Gotham', cursive;
    font-size: 16px;
    padding: 6px 7px;
    width: calc(100% - 2 * 7px);
    color: #000000;
    background-color: #FFFFFF;
    border-color: #000000;
    outline-color: #000000;
    border: 1px solid;
    outline: none;
    transition: outline 100ms;
}

.input-elegant:focus {
    outline: 0.5px solid;
}

.input-elegant::placeholder {
    color: #807A7A;
}